[submodule "lib/ft_printf"]
	path = lib/ft_printf
	url = https://github.com/jgodv/ft_printf
	branch = main
[submodule "lib/libft"]
	path = lib/libft
	url = https://github.com/jgodv/libft
	branch = main
